Repository umbrellio/laravel-pg-extensions, pull requests merged in 2019-07, with the labels that each got.

#2 refactor components
  .travis.yml
  composer.lock
  src/.meta.php
  src/Commands/CreateCommand.php
  src/Compilers/CreateCompiler.php
  src/Connectors/ConnectionFactory.php
  src/Macros/blueprint.php
  src/PostgresConnection.php
  src/PostgresSchemaBuilder.php
  src/PostgresSchemaGrammar.php
  src/Schema/Blueprint.php
  src/Schema/Builder.php
  src/Schema/Definitions/AttachPartitionDefinition.php
  src/Schema/Definitions/LikeDefinition.php
  src/Schema/Grammars/PostgresGrammar.php
  src/UmbrellioPostgresProvider.php
  tests/Functional/SchemaTest.php
  tests/Unit/Schema/BlueprintTest.php
Labels: refactor

#5 Feature/unique wheres
  src/.meta.php
  src/Compilers/UniqueWhereCompiler.php
  src/Schema/Blueprint.php
  src/Schema/Builders/UniquePartialBuilder.php
  src/Schema/Builders/UniqueWhereBuilder.php
  src/Schema/Definitions/UniqueDefinition.php
  src/Schema/Grammars/PostgresGrammar.php
  tests/Functional/UniqueIndexTest.php
Labels: Feature

#15 Add has index methods to facade
  README.md
  src/Schema/Blueprint.php
  tests/Functional/HasIndexTest.php
Labels: Feature

#13 Added Concept for support custom extensions
  .gitignore
  README.md
  src/Extensions/AbstractComponent.php
  src/Extensions/AbstractExtension.php
  src/Extensions/Connectors/AbstractConnection.php
  src/Extensions/Exceptions/ExtensionInvalidException.php
  src/Extensions/Exceptions/MacroableMissedException.php
  src/Extensions/Exceptions/MixinInvalidException.php
  src/Extensions/Schema/AbstractBlueprint.php
  src/Extensions/Schema/AbstractBuilder.php
  src/Extensions/Schema/Grammar/AbstractGrammar.php
  src/PostgresConnection.php
  src/Schema/Builder.php
  src/UmbrellioPostgresProvider.php
Labels: Feature

#14 Add support gist/gin indexes
  README.md
  ecs.yml
  src/.meta.php
  src/Schema/Blueprint.php
  src/Schema/Grammars/PostgresGrammar.php
  tests/Functional/UniqueIndexTest.php
  tests/Unit/Schema/Grammars/GrammarTest.php
  tests/Unit/Schema/IndexTest.php
Labels: Feature

#16 Fixing an error with access to a private property
  .gitignore
  README.md
  src/UmbrellioPostgresProvider.php
Labels: bug

#17 Bug: Connection refused
  src/UmbrellioPostgresProvider.php
Labels: bug

#18 Bug: Connection refused
  src/UmbrellioPostgresProvider.php
Labels: bug

#19 Moving register extensions to PostgresConnections
  README.md
  src/PostgresConnection.php
  src/UmbrellioPostgresProvider.php
  tests/Unit/Schema/Grammars/GrammarTest.php
Labels: bug

#21 Add numeric column type
  README.md
  src/.meta.php
  src/Schema/Blueprint.php
  src/Schema/Grammars/PostgresGrammar.php
  tests/Unit/Schema/BlueprintTest.php
Labels: Feature, tests
